<div class="container-fluid sticky-top">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <a [routerLink]="['/']"><h2>MascotaData</h2></a>
        </div>
        <div class="col-md-8 col-sm-12">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/']">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/testimonios']">Testimonios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/recordatorios']">Recordatorios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/mismascotas']">Mis Mascotas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/iniciosesion']">Inicio de Sesión</a>
                </li>  
            </ul> 
        </div>
    </div>
</div>
</div>
